<nav style="width:500px;background-color:rgb(224, 221, 221);display:inline-block;padding:20px">
    {{#link-to "index" }}
        Home
    {{/link-to}}
    {{#link-to "create"}}
        New +
    {{/link-to}}
</nav>
{{outlet}}